#services {
	ul {
		i {
			font-size: 1.6rem !important;
		}
	}
}
	#faq {
		.card {
			border: #444;

			a {
				color: #fff;
				text-decoration: none;
			}
		}

		.card-header {
			background: #333;
		}
	}
